body {
  background-color: #CFE8A9;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 8px;
  border-color: grey;
  width: 30%;
}
h1 {
  color: #66BFBF;
}
h3 {
  color: #66BFBF;
}
#clock {
  font-size: 1.5em;
  margin-top: 20px;
}
